
#app,.abou_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 0.4rem;
}
.abou_cont{
    flex: 1;
    overflow: auto;
    position: relative; 
}
.home_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 1rem;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    box-sizing: border-box;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        span{
            font-size: 0.28rem;
        }
    }
}
.footer_home{
    font-size: 0.6rem !important;
}
.swiper-container{
    height: 8rem !important;
}
.swiper-container img{
    width: 100%;
    height: 3rem;
    
}
.home_comt_kanjia,.home_comt_tuijian{
    width:100%;
    height:1rem;
    color:#B0B0B0;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.28rem;
    line-height: 1rem;
    margin: 0;
}
.kanjia_cont{
    display: flex;
    box-sizing: border-box;
    height: 3rem;
    border-top:1px solid #ccc;
    font-size: 14px;
    padding: 0.2rem 0.4rem 0.2rem 0.2rem;
        img{
            height: 100%;
            width: 2.6rem;
        }
    
}
.kanjia_cont_tit{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    // padding: 0 0.2rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    p{
        margin: 0;
        padding: 0;
    }
}
.kanjia_cont_price{
    margin-top: 0.7rem !important;
    display: flex;
    justify-content: space-between;
}
.kanjia_cont_price_sj{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prop_tuijian{
    width: 45%;
    // display: flex;
    // flex-wrap: wrap;
    // box-sizing: border-box;
    float: left;
    padding-left: 0.28rem;
    position: relative;
    img{
        width: 100%;
        height: 216.47px;
        // padding: 0.15rem;
    }
    
}
.router-link-exact-active{
    color: red;
}
a{
    color: #B5B5B5;
}
.crit{
    width: 0.32rem;
    height: 0.32rem;
    border: 1px solid #CCC;
    border-radius: 50%;
    text-align: center;
}